In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\anaconda\lib\site-packages (1.2.1)
Requirement already satisfied: joblib>=1.1.1 in d:\anaconda\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in d:\anaconda\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in d:\anaconda\lib\site-packages (from scikit-learn) (1.10.0)

In [2]:
# 1) Importar las librerías estándar de análisis
import pandas as pd
import numpy as np
import numpy as np
from collections import defaultdict

# import matplotlib.pyplot as plt

In [3]:
# 2) Importar la clase Naive Bayes
import sys
sys.path.append("..")  # Para que Python busque un nivel arriba (ajusta según tu ruta)
from naivebayes import RecNaiveBayes

In [4]:
# 3) Cargar datos
data_path = "training.1600000.processed.noemoticon.csv"
df = pd.read_csv(data_path, encoding='latin-1', header=None)

In [5]:
df.head() # Explora los datos

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   0       1600000 non-null  int64
 1   1       1600000 non-null  int64
 2   2       1600000 non-null  object
 3   3       1600000 non-null  object
 4   4       1600000 non-null  object
 5   5       1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [ ]:
# Sentiment140: 
#   0 => negative, 2 => neutral, 4 => positive
# columns: [target, id, date, flag, user, text]

In [7]:
df.columns = ["target","id","date","flag","user","text"]
df.head() #eplorar datos

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [8]:
# 4) Selecciona columnas relevantes
#    Por ejemplo, nos quedamos con 'target' y 'text'
df = df[["target","text"]]

df.head()

   target                                               text
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  is upset that he can't update his Facebook by ...
2       0  @Kenichan I dived many times for the ball. Man...
3       0    my whole body feels itchy and like its on fire
4       0  @nationwideclass no, it's not behaving at all....

In [9]:
# 5) Para simplificar, mapeamos {0->neg, 2->neu, 4->pos}
def map_sentiment(value):
    if value == 0:
        return "neg"
    elif value == 2:
        return "neu"
    elif value == 4:
        return "pos"

df["sentiment"] = df["target"].apply(map_sentiment)
df.head()

   target                                               text sentiment
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...       neg
1       0  is upset that he can't update his Facebook by ...       neg
2       0  @Kenichan I dived many times for the ball. Man...       neg
3       0    my whole body feels itchy and like its on fire        neg
4       0  @nationwideclass no, it's not behaving at all....       neg

In [10]:
df['sentiment'].value_counts()

neg    800000
pos    800000
Name: sentiment, dtype: int64

In [11]:
# 6) Limpieza / Preprocesamiento
#    Aquí puedes hacer todo lo que quieras: quitar URL, stopwords, etc.
import re
def basic_clean(text):
    text = text.lower()
    text = re.sub(r'http\S+|www\S+','', text) # quita URLs
    text = re.sub(r'@\w+','', text)          # quita menciones
    text = re.sub(r'[^a-záéíóúüñ\s]', '', text) # deja solo letras
    text = re.sub(r'\s+',' ', text).strip() #limina los espacios en blanco y caracteres espaciales
    #que hay tanto a la decrecha como a la izquierda del String "s".
    #Existen también las variantes de:
    #s.rstrip(): Elimina los espacios en blanco y caracteres espaciales que hay a la derecha del string.
    #s.lstrip(): Elimina los espacios en blanco y caracteres espaciales que hay a la izquierda del string.
    return text

df["clean_text"] = df["text"].apply(basic_clean)
df["clean_text"].head()

0    a thats a bummer you shoulda got david carr of...
1    is upset that he cant update his facebook by t...
2    i dived many times for the ball managed to sav...
3       my whole body feels itchy and like its on fire
4    no its not behaving at all im mad why am i her...
Name: clean_text, dtype: object

In [12]:
# 7) Tokenización
def Tokens(text):
    
    text = re.split(r'[ \t\n]+', text) # Tokeniza genera una lista
    #El uso de la r convierte a los caracteres especiales en parte del
    #texto y no en comandos ejecutables dentro de la cadena, lo que es esencial 
    #cuando tratamos con texto que incluye caracteres de escape.
    #el uso de \s+ permite dividir el texto en base a uno o más espacios vacíos, 
    #creando tokens individuales para cada palabra
    return text
df["Tokens"] = df["clean_text"].apply(Tokens)
df["Tokens"].head()

#df["tokens"] = df["clean_text"].apply(lambda x: x.split())
#df["tokens"].head()

0    [a, thats, a, bummer, you, shoulda, got, david...
1    [is, upset, that, he, cant, update, his, faceb...
2    [i, dived, many, times, for, the, ball, manage...
3    [my, whole, body, feels, itchy, and, like, its...
4    [no, its, not, behaving, at, all, im, mad, why...
Name: Tokens, dtype: object

In [13]:
def stratified_kfold(y, k=5):
    # Organizar índices por clase
    class_indices = defaultdict(list)
    for idx, label in enumerate(y):
        class_indices[label].append(idx)
    
    folds = [[] for _ in range(k)]
    # Distribuir índices de cada clase en los folds
    for label, indices in class_indices.items():
        np.random.shuffle(indices)  # Mezclar para evitar orden sesgado
        n_samples = len(indices)
        fold_sizes = np.full(k, n_samples // k, dtype=int)
        fold_sizes[:n_samples % k] += 1  # Añadir resto a los primeros folds
        
        current = 0
        for i in range(k):
            start, end = current, current + fold_sizes[i]
            folds[i].extend(indices[start:end])
            current = end
    
    # Mezclar los folds para evitar orden secuencial
    for fold in folds:
        np.random.shuffle(fold)
    
    return folds

In [14]:
#Convertiremos tokens en vectores numéricos usando solo el vocabulario del training set.
def create_bow(tokens_list, vocab):
    # Crear un diccionario de índices para el vocabulario
    word_to_idx = {word: i for i, word in enumerate(vocab)}
    # Inicializar matriz BoW
    bow = np.zeros((len(tokens_list), len(vocab)), dtype=int)
    for i, tokens in enumerate(tokens_list):
        for word in tokens:
            if word in word_to_idx:
                bow[i, word_to_idx[word]] += 1
    return bow

In [ ]:
k = 5
# Solo se pasa 'y' (las etiquetas) como argumento posicional
folds = stratified_kfold(y=df["sentiment"], k=k)  # ¡Corregido!
accuracies = []

for fold in folds:
    # Dividir en train y test
    test_indices = fold
    train_indices = [i for i in range(len(df)) if i not in test_indices]
    
    # Obtener datos de entrenamiento y test
    X_train = [df["Tokens"][i] for i in train_indices]
    y_train = [df["sentiment"][i] for i in train_indices]
    X_test = [df["Tokens"][i] for i in test_indices]
    y_test = [df["sentiment"][i] for i in test_indices]
    
    # Crear vocabulario solo con el training set
    vocab = list({word for tokens in X_train for word in tokens})
    
    # Convertir a BoW
    X_train_bow = create_bow(X_train, vocab)
    X_test_bow = create_bow(X_test, vocab)
    
   
     # Instanciar modelo de Naive Bayes
    builder = RecNBBuilder().set_laplace(1.0)
    model = builder.build()

    # Entrenar modelo 
    model.fit(X_train, y_train)
    
    # Evaluar
    accuracy = model.score(X_test_bow, y_test)
    accuracies.append(accuracy)
    print(f"Fold Accuracy: {accuracy:.4f}")

print(f"\nAccuracy promedio: {np.mean(accuracies):.4f}")

In [ ]:
# 11) Probar predicción en un tweet nuevo
tweet_nuevo = "I'm at the office working on a new project."
tweet_clean = basic_clean(tweet_nuevo)
tokens_nuevo = tweet_clean.split()

prediccion = nb_model.predict([tokens_nuevo])
print("Tweet nuevo:", tweet_nuevo)
print("Predicción:", prediccion[0])